$display-p: grid; // Display padrão
$color-p: white; // Cor primária
$txt-al: center; // Alinhamento de texto padrão
$just-cont: center; // Justify-content padrão
$esp-p: 20px; // Espaçamento padrão
$size-p: 100px; // Tamanho padrão
$font-size: 1.2rem; // Tamanho da fonte padrão
$alt-p: auto; // Altura padrão
$grid-temp-row: auto auto; // Grid Template Row padrão
