html, body { height: 100%; margin: 0; padding: 0; overflow-x: hidden; }

#menu-toggle{
    display: none;
}
.hamburguer {
    display: none;
    width: 35px;
    height: 28px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.hamburguer span{
    display: block;
    height: 4px;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
}

body{
    background: #0B0022;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-size: 1.3rem;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: auto;
    min-height: 100vh;
}
header{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-column: 1 / 4;
    grid-row: 1;
    align-items: center;
    box-shadow: 0 2px 10px rgba(255, 0, 255, 0.3);
}
header::after {
  content: "";
  height: 2px;
  background: linear-gradient(90deg, #ff9bf8, #8af5ff);
  margin-top: 10px;
  grid-column: 1/4;
}
header img{
    grid-column: 1;
    width: 250px;
    height: 100px;
}
header nav ul{
    display: inline-flex;
    gap: 80px;
    grid-column: 2;
    color: white;
}
header nav ul li{
    text-align: center;
    color: white;
}
header nav ul li a{
    color: white;
}
main{
    grid-column: 1/4;
}
main section img {
    grid-column: 1/4;
    height:695px;
}
section#banner {
    display: grid;
    justify-content: center;   
    align-items: center;      
    max-width: 100vw;
    max-height: auto;        
    margin-left: 3.5rem;
}
section#banner img {
    max-width: 95%;
    max-height: 100%;
    object-fit: contain;       
    grid-column: 1/3;
}
section#sobre-nos{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-column: 1/4;    
}   
section#sobre-nos h5{
    grid-column: 2;
    text-align: center;
}
section#sobre-nos p{
    grid-column: 2;
    text-align: justify;
}
section#servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-column: 1/4;
    justify-content: center;
    gap: 20px;
}
section#servicos .imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
    grid-column: 1/5;
    grid-row: 2;
}
section#servicos .imagens img{
    width: 100%;
    height: auto;
    max-width: 150px;
}
section#servicos h5{
    grid-column: 2/4;
    grid-row: 1;
    text-align: center;
}
section#servicos p{
    grid-column: 2/4;
    grid-row: 3;
    text-align: justify;
}
section#feedbacks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
}
section#feedbacks h5{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    padding: 10px;
}
section#feedbacks .imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
    grid-column: 1/5;
    grid-row: 2;  
}
section#feedbacks .imagens img{
    grid-column: 1/4;
    grid-row: 2;
    width: 500px;
    height: 500px;
}
section#formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
}
section#formulario input,
section#formulario textarea{
    width: 100%;
    max-width: 400px;
}
section#contatos{
    text-align: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}
section#contatos a{
    color: white;
}

@media (max-width:600px) {
    body {
        font-size: 1.3rem;
    }

    .hamburguer{
        display: flex;
        grid-column: 2;
        justify-self: center;
    }
    header nav ul{
        display: none;
        flex-direction: column;
        width: 100px;
        gap: 20px;
        padding: 20px 0;
        border-top: 2px;
        text-align: center;
    }
        #menu-toggle:checked + .hamburguer + nav ul {
        display: flex;
    }
    #menu-toggle:checked + .hamburguer span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }
    #menu-toggle:checked + .hamburguer span:nth-child(2) {
        opacity: 0;
    }
    #menu-toggle:checked + .hamburguer span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    section#sobre-nos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    section#sobre-nos p{
        text-align: justify;  
        max-width: 400px;
        margin: 0 auto;
        line-height: 1.6;
        font-size: 1.2rem;
        width: 100%;
    }
    section#servicos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    section#servicos h5{
        text-align: center;
    }
    section#servicos p{
        text-align: justify;  
        max-width: 400px;
        margin: 0 auto;
        line-height: 1.6;
        font-size: 1.2rem;
        width: 100%;
    }
    section#servicos .imagens{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        justify-content: center;
        align-items:center;
    }
    section#servicos .imagens img{
        width: 120px;
        height: auto;
    }
    section#feedbacks{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
    section#feedbacks .imagens{
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    section#feedbacks .imagens img{
        width: 200px;
        height: auto;        
    }
}